.cards{
  margin-left:20px;
  margin-top:20px;
  border-top: solid black 2px;
}
.arrow-down {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #737373;
}
.pic {
  /* margin: 50px;demo spacing */
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 
}
.header-section{
  display:flex;
}
.percentage{
  margin-left:80px;
}
.progressbar{
  height:10px;
  width:10px;
}
.App{
  justify-content: center;
  align-items: center;
  width:220vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mid-section{
  display: flex;
  align-items: center;
  padding-top:5px;
}
.cardContent{
  margin-top:50px;
}
.cardContent h4 {
margin-top:-10%;
}
.status{
  margin-left:20px;
  
}
.redProgress{
  background:rgb(127, 68, 68);
  border-radius:5px;
  padding:5px;
}
.greenProgress{
  background: rgb(44, 123, 44);
  border-radius:5px;
  padding:1px;
}
.yellowProgress{
  background:rgb(120, 120, 53);
  border-radius:5px;
  padding:1px;
}
.btn{
  background:rgb(103, 193, 193);
  border:none;
  border-radius:20px;
  margin-left:70px;
  padding:10px;
}
.btn:hover{
  cursor: pointer;
}
.progress-bar{
  background:cyan;
  
}